.danger {
    color: red;
    font-weight: bold;
  }

.form {
    background-color: rgba(177, 177, 177, 0.527);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
    padding: 10px;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.form input {
    width:auto;
    height: 30px;
    margin: 0.5rem;
}

.form button {
    font-size:large;
    padding: 10px;
    border-radius: 7px 7px 7px 7px;
    border-color: aqua;
    background-color: rgba(0, 255, 234, 0.6);
    outline: none;
}
