.SearchButton {
    padding: 10px;
    font-family: rick_and_morty;
    border-radius: 0 7px 7px 0;
    border-color: aqua;
    background-color: rgba(0, 255, 234, 0.6);
    cursor: pointer;
 }

.Searchbar {
    font-size: medium;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-family: rick_and_morty;
    border-radius: 7px 0 0 7px;
    border-color:  rgba(0, 255, 255, 0.329);
    outline: none;
    width:200px;
 }
 
input {
    background-color: rgba(0, 255, 255, 0.24);
    align-items: center;
    text-align: center;
    color: aliceblue;
    letter-spacing: 2px;
}
  
button:hover {
    color: aqua;
    background-color: #282c3486;
    cursor: pointer;
  }