.container {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
    display: flex;
    border-radius: 7px;
    margin: 0px 0px 30px 0px;
    align-items: center;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.links{
    font-family: rick_and_morty;
    font-size:xx-large;
    color: azure;
    background-color: rgba(50, 50, 61, 0);
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    text-decoration:none;
}

.links:hover{
    color: aqua;
    background-color: #282c3486;
    cursor: pointer;
}