.texto {
    color: rgb(0, 255, 76);
    font-family: rick_and_morty;
    font-size:larger;
    text-align: left;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.image {
    border-radius: 5px;
}

.divPrincipal {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    border-radius: 7px;
    align-items: center;
}

.bton {
    font-size:large;
    padding: 10px;
    font-family: rick_and_morty;
    border-radius: 7px 7px 7px 7px;
    border-color: aqua;
    background-color: rgba(0, 255, 234, 0.6);
    outline: none;
}

button:hover {
    color: aqua;
    background-color: #282c3486;
    cursor: pointer;
  }