@font-face {
    font-family: rick_and_morty;
    src: url(../../../assets/MISFITS_.TTF);
}

.link {
    color:brown;
}

.card {
    display: flex;
    flex-direction: column;
    background-color:rgba(1, 68, 68, 0.750);
/*     border:outset #00ffb3; */
    font-family: rick_and_morty;
    width: 220px;
    height: 290px;
    border-radius: 15px;
    transition: all 0.8s ease;
    box-shadow: 10px 10px 20px rgba(1, 68, 68, 0.6);
}

.card:hover {
    transform: scale(1.01);
  }

.card h2 {
    color:navy;
    margin: 0px -5px 0px 0px;
}

.boton{
    background-color: red;
    border-color: red;
    border-radius: 07px;
    color: azure;

    margin: 5px;
    cursor: pointer;
    align-self: flex-end; 
}

.card button:hover {
    background-color: white;
    border-color: white;
    border-radius: 07px;
    color:darkred;
}

.imgDiv{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    align-items: center;
}

.img {
    width: 220px;
    height: 220px;
/*     border-radius: 20px 20px 0 0; */
  }

.name {
    position: absolute;
    /* margin-bottom: 0px; */
  }

.propsContainer {
    display: flex;
    justify-content: space-evenly;
/*    background-color: rgba(0, 255, 234, 0.6);
    margin: 2px;
    color: aqua;
    border-radius: 0 0 20px 20px; */
  }